<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Group Project 2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/style_index.css">
    <!-- for font awesome icons: -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <div id = 'header-top'>
      <div class = 'fit-95'>
        <span id = 'our-name'>enhajoList
        </span>
        <div id = 'search-container'>
          <form id = 'search-form-top' action = '/' method = 'GET'>
            <input type = 'text' name = 'search-input-business-top' placeholder = 'search businesses' id = 'search-input-business-top' class='search-input'>
            <input type = 'text' name = 'location_input' placeholder = 'location' id = 'search-input-location' class='search-input'>
            <button id='search-button' type = 'submit' title = 'search businesses'><i class="fa fa-search" id='search-icon' aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
    <nav id = 'header-bottom'>
      <div class = 'fit-95'>
        <form class = 'bheader-form' action='/businesses' method = 'GET'>
          <input class = 'main-nav-link' type="submit" value = 'all businesses'>
        </form>
        <form class = 'bheader-form' action='/offers' method = 'GET'>
          <input class = 'main-nav-link' type="submit" value = 'all offers'></input>
        </form>
        <div id = 'admin-button' class = 'dropdown'>admin
          <div class = 'dropdown-content'>
            <a href = '' target = ''>
              <form id = 'create-business' action = '/create/biz' method = 'GET'>
                <button class = 'create-newbizdeal-button' id='create-business-button' type = 'submit' title = 'create business'>add business</button>
              </form>
            </a>
            <a href = '' target = ''>
              <form id = 'create-deal' action = '/offers' method = 'GET'>
                <button class = 'create-newbizdeal-button' id='create-deal-button' type = 'submit' title = 'create deal'>add deal</button>
              </form>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </header>

<div class="container-fluid" style = "margin-top:15px; margin-bottom:35px;">
  
{{{ body }}}

</div>
<span id = 'our-name-bottom'>enhajoList</span>
  <footer id='footer'>
    <div id="footer-content">
      Copyright &copy; 2017 EH JN HS. All Rights Reserved.
    </div>
  </footer>

</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/assets/js/index.js"></script>
<script src="/assets/js/businesses.js" type="text/javascript"></script>
</html>